<a href="https://colab.research.google.com/github/Meghana-Chakravarthi/Predict-Outputs/blob/main/08_05_25CodingPr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(5+5)
print(5/5)
print(5/0)
print(1+1)

10
1.0

ZeroDivisionError: division by zero

In [ ]:
print(5+5)
print(5/5)
try:
  print(5/0)
except:
  print("Invalid Division by Zero")
print(1+1)

10
1.0
Invalid Division by Zero
2

In [ ]:
numerator = float(input("Enter the numerator: "))
denominator = float(input("Enter the denominator: "))
if denominator == 0:
    raise ZeroDivisionError("Error: Denominator cannot be zero.")
else:
    quotient = numerator / denominator
    print("Quotient:", quotient)

Enter the numerator: 12
Enter the denominator: 5
Quotient: 2.4

Find the difference between

1)Exception handling

2)Throwing an exception

3)Catching an exception

**AND**

In [ ]:
print("X","|","Y","|","X and Y")
for i in range(0,2):
  for j in range(0,2):
    print(i,"|",j,"|",i and j)

X | Y | X and Y
0 | 0 | 0
0 | 1 | 0
1 | 0 | 0
1 | 1 | 1

**OR**

In [ ]:
print("X","|","Y","|","X or Y")
for i in range(0,2):
  print(i,"|",0,"|",i or 0)
  print(i,"|",1,"|",i or 1)

X | Y | X or Y
0 | 0 | 0
0 | 1 | 1
1 | 0 | 1
1 | 1 | 1

**NOT**

In [ ]:
print("X","|","not X")
for i in range(0,2):
  print(i,"|",int(not i))

X | not X
0 | 1
1 | 0

In [ ]:
print("X","|","Y","|","Z","|","X or (Y and Z)")
print("-------------")
for i in range(0,2):
  for j in range(0,2):
    for k in range(0,2):
      d=j and k
      print(i,"|",j,"|",k,"|",d or i)
      print("-------------")

X | Y | Z | X or (Y and Z)
-------------
0 | 0 | 0 | 0
-------------
0 | 0 | 1 | 0
-------------
0 | 1 | 0 | 0
-------------
0 | 1 | 1 | 1
-------------
1 | 0 | 0 | 1
-------------
1 | 0 | 1 | 1
-------------
1 | 1 | 0 | 1
-------------
1 | 1 | 1 | 1
-------------

In [ ]:
print("X","|","Y","|","X xor Y")
print("---------")
for i in range(0,2):
  print(i,"|",0,"|",i ^ 0)
  print("---------")
  print(i,"|",1,"|",i ^ 1)
  print("---------")

X | Y | X xor Y
---------
0 | 0 | 0
---------
0 | 1 | 1
---------
1 | 0 | 1
---------
1 | 1 | 0
---------